<h3 class="text-center">Add Post</h3>
<hr>
<form [formGroup]="postForm" (ngSubmit)="addPost()">
    <label>Title</label>
    <input type="text" class="form-control" formControlName="title">
    <div *ngIf="postForm.touched && postForm.invalid">
        <small class="text-danger" *ngIf="postForm.get('title')?.errors?.['required']">
            Title is required.
        </small>
        <small class="text-danger" *ngIf="postForm.get('title')?.errors?.['minlength']">
            Title shouldn't be more than 6 characters.
        </small>
    </div>
    <label>Description</label>
    <textarea type="text" class="form-control" formControlName="description"></textarea>
    <div *ngIf="postForm.touched && postForm.invalid">
     <small class="text-danger">{{getDescriptionErrorMessage()}}</small>
    </div>
    <button type="submit" class="btn btn-primary mt-2" [disabled]="postForm.invalid">Add</button>
</form>